.table {
    border: 3px solid #f00;
    /*border: 0;*/
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

.table tr,td
{
    border: 1px solid #888;
    /*border: 0;*/
    margin: 0;
    padding: 0;
    height: 4px;
    width: 4px;
    overflow: hidden;
    text-align: center;
    background-color: #000;
    color: #fff;
}

td.table-cell-on
{
    background-color: #0f0;
}
